* {
    box-sizing: border-box;
}

html, body {
    height: 100%
}

body {
    margin: 0;
}

#app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#squares-container {
    order: 1;
    display: grid;
    width: 700px;
    height: 700px;
    border: 1px solid #ccc;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px;
}

.square {
    margin: 0px;
}

.selected {
    background-color: black;
}